@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  background-color: #0F1624;
  font-family: "Poppins", serif;
}
 /*GRID*/
.container {
  margin: 0;
  width: 100%;
  display: flex;
  
}

.d-flex{
  display: flex;
}
.d-grid{
  display: grid;
}
.f-wrap{
  flex-wrap: wrap;
}

.flex-column{
flex-direction: column;

}
.flex-row{
  flex-direction: row;
}

.al-center{
  align-items: center;
}
.al-end{
  align-items: end;
}
/* vai deixar os itens no inicio da div (***-----) */
.jc-flex-start {
    justify-content: flex-start;
}
/* vai deixar os itens no fim da div (-----***) */
.jc-flex-end {
  justify-content: flex-end;
}
/* vai deixar os itens no centro da div (--***--) */
.jc-flex-center {
  justify-content: center;
}
/* vai deixar os itens um afastado do outro e sem margem no começo e no fim (*-*-*) */
.jc-space-between {
  justify-content: space-between;
}
/* vai deixar os itens com uma margem entre sim iguais e do começo e no final margem menor (-*--*--*-) */
.jc-space-around {
  justify-content: space-around;
}
/* vai deixar os itens com uma margem entre sim iguais e do começo e no final tbm (--*--*--*--) */
.jc-space-evenlyn {
  justify-content: space-evenly;
}
